name: fancy_page_indicator
description: A capsule-style page indicator with optional loupe overlay.
version: 0.0.1
author: aliabdalshaheedbaqer <baqer.abd66@gmail.com>
homepage: https://github.com/aliabdalshaheedbaqer/fancy_page_indicator

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
